
.dashboard-container {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.content-overlay {
  position: relative;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 800px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.exercise-form {
  margin-bottom: 20px;
}

.exercise-form input,
.exercise-form button {
  display: inline-block;
  margin: 10px 5px;
  padding: 8px;
  width: 20%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.exercise-form button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.exercise-form button:hover {
  background-color: #0056b3;
}

.exercise-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.exercise-table th,
.exercise-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.exercise-table th {
  background-color: #57d200;
  color: white;
}

.exercise-table td {
  background-color: #000000;
}

.delete-button {
  color: #dc3545;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.delete-button:hover {
  text-decoration: underline;
}


.edit-button {
  color: #ffc107;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin-right: 10px;
}

.edit-button:hover {
  text-decoration: underline;
}
