.dashboard-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.content-overlay {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  margin: 20px;
}

.exercise-form input,
.search-input {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.exercise-form button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.search-input {
  padding: 8px;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.exercise-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: black;
  
}

.exercise-table th,
.exercise-table td {
  border: 5px solid #ddd;
  padding: 20px;
  text-align: center;
}

.exercise-table th {
  background-color: #b75656;
}

.edit-button,
.delete-button,
.details-button {
  padding: 5px 10px;
  margin-right: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-button {
  background-color: #ffa500;
  color: #fff;
}

.delete-button {
  background-color: #f44336;
  color: #fff;
}

.details-button {
  background-color: #2196f3;
  color: #fff;
}


.workout-button {
  background-color: #4caf50;
  color: rgb(253, 247, 247);
  padding: 10px 15px;
  margin-right: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.workout-button:hover {
  background-color: #45a049;
}

